@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #f7f7f7;
  background: linear-gradient(180deg, #e0c3fc, #8ec5fc);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: white;
  color: black;
  border-radius: 4px;
  padding: 0.5rem;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-small-text {
  position: absolute;
  top: 87%;
  right: 10px; /* Distance from the right */
  transform: translateY(-50%);
  font-size: 12px;
  pointer-events: none; /* Make sure text is not clickable */
}
