@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #f7f7f7;
  background: linear-gradient(180deg, #e0c3fc, #8ec5fc);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: white;
  color: black;
  border-radius: 4px;
  padding: 0.5rem;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-small-text {
  position: absolute;
  top: 87%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 12px;
  pointer-events: none;
}

.downloadAnchor {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid transparent;
  transition: color 0.3s ease;
}

.downloadAnchor::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #3498db;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.downloadAnchor:hover::before {
  transform: scaleX(1);
}
